/** page navigation **/
.screen-reader-text{display: none;}
.nav-links ul {
	padding: 35px 0 0;
	margin: 25px 0 0;
	border-top: 1px solid #ededed;
}

.nav-links ul li {
	margin-right: 15px;
	float: left;
}
.nav-links ul li span span,
.nav-links ul li a {
	width: 55px;
	height: 55px;
	border: 1px solid #e8e8e8;
	padding: 10px;
	display: table;
	color: #000000;
	transition: .4s;
}
.nav-links ul li a{
  line-height: 34px;
  text-align: center;	
}
.nav-links ul li a span {
	width: 33px;
	height: 33px;
	border: 1px solid #ececec;
	background: #fff;
	display: table;
	line-height: 33px;
	text-align: center;
	transition: .4s;
}

.nav-links ul li.active a,
.nav-links ul li a:hover {
	border: 1px solid #000;
	color: #fff;
	transition: .4s;
}

.nav-links ul li span.current span,
.nav-links ul li a:hover,
.nav-links ul li a:hover span {
	border: 1px solid #494949;
	background: #000000;
	transition: .4s;
}
.nav-links ul li span.current span{
	color: #fff;
	text-align: center;
	line-height: 33px;
}
/** Comment **/

/** Typography **/
.entry-content h1{
	font-size: 36px;
}
.entry-content h2{
	font-size: 32px;
}
.entry-content h3{
	font-size: 28px;
}
.entry-content h4{
	font-size: 24px;
}
.entry-content h5{
	font-size: 20px;
}
.entry-content h6{
	font-size: 16px;
}
.entry-content a{
	color:rgb(210, 17, 17);
	font-weight: bold;
}
.entry-content .more-link{
	  color: rgb(39, 26, 26);
}
.entry-content blockquote {
	border-left: 10px solid #C52D2D;
}
.entry-content table{
	width: 100%;
	font-family: Arial;
}
.entry-content table tr{
	border: 1px solid #dddddd;
}
.entry-content table tr th{
	text-align:center;
	border: 1px solid #dddddd;
}

.entry-content table tr td{
	padding: 8px;
	border: 1px solid #dddddd;
}
.entry-content ul li{
	list-style: disc;
}
.entry-content ol,
.entry-content ul{
	padding: 6px 0 6px 30px;
}
.entry-content ol li{
	list-style: decimal;
}
.entry-content address {
  font-style: italic;
}
.entry-content pre{
	background-color: rgb(77, 77, 76);
	color:#fff;
}
.entry-content img{
	max-width: 100%;
	height: auto;
}
.entry-featured-image,
.media-frame{
	margin: 0 0 30px 0;
}
/** Jetpack Related Posts **/

div#jp-relatedposts div.jp-relatedposts-items-visual h4.jp-relatedposts-post-title{
	  margin: 13px 0 0 0!important;
}
div#jp-relatedposts div.jp-relatedposts-items-visual h4.jp-relatedposts-post-title a{
	font-weight: bold!important;
	color: #000;
}